<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Xoopar{% endblock %}</title>
    {% block stylesheets %}
        <link href="{{ asset('css/style.css') }}" rel="stylesheet"/>
        <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet"/>
    {% endblock %}
</head>
<body>
<nav class="header-nav py-2">
    <div class="container">
        <div class="row">
            <h1 class="col text-white fs mb-0">Fabricant d'objets tendances et écoresponsables</h1>
            <div class="col text-white text-center">01 02 03 04 05 du lundi au vendredi de 9h à 18h</div>
            <div class="row">
                <div class="col-auto text-white">Demander le catalogue</div>
                <div class="col-auto text-white">Contact</div>
            </div
        </div>
    </div>
</nav>
<header>
    <div class="container">
        <div class="row col-auto">
            <h1 class="col-auto fs mb-0">logo</h1>
            <div class="col text-center">Objet Publicitaire et Green-Tech</div>
            <div class="row">
                <div class="col-auto text-white row">
                    <div><a href="{{ path('login') }}">
                            <button>0</button>
                        </a></div>
                    <div><a href="{{ path('login') }}">
                            <button>0</button>
                        </a></div>
                    <div><a href="{{ path('login') }}">
                            <button>0</button>
                        </a></div>
                </div>
                <div class="col-auto text-white">
                    {% for locale in locales %}
                        <a href="{{ path('changeLocale', {'locale': locale,'url': app.request.get('_route')}) }}">
                            <button>{{ locale }}</button>
                        </a>
                    {% endfor %}
                </div>
            </div
        </div>
    </div>
</header>

{% block content %}

{% endblock %}
<h1>{% trans %}Symfony is great!{% endtrans %}</h1>


</div>
<footer>
    <div class="header-nav">
        <div class="container">
            <div class="row">
                <p class="text-white col-auto">Notre Newsletter</p>
                <div class="col-4">
                    <div class="row">
                        <input class="col"/>
                        <button class="col-auto">S'abonner</button>
                    </div>
                    <p class="text-white">Vous pouvez vous désinscrire à tout moment. Vous trouverez pour
                        cela nos informations de contact dans les conditions d'utilisation du site.</p>

                </div>
                <div class="row">
                    <p class="text-white col-auto">Suivez-nous</p>
                    <div class="col-auto">

                        <div class="row">
                            <button class="col-auto">Livraison</button>
                            <button class="col-auto">Livraison</button>
                            <button class="col-auto">Livraison</button>
                            <button class="col-auto">Livraison</button>
                            <button class="col-auto">Livraison</button>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="row list-unstyled">
                <li class="text-white col">Livraison</li>
                <li class="text-white col">Mentions légales</li>
                <li class="text-white col">Conditions d'utilisation</li>
                <li class="text-white col">A propos</li>
                <li class="text-white col">Paiement sécurisé</li>
            </ul>
            <p class="text-white text-center">Copyright Xoopar - 2008 - 2020<p/>
        </div>
</footer>

{% block javascripts %}
    <link href="{{ asset('js/main.js') }}" rel="stylesheet"/>
{% endblock %}
</body>
</html>
