{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div>
            <a href="{{ path('homeClient') }}">Accueil</a> / <a
                    href="{{ path('categoryClient',{'category':theCategory}) }}">{{ theCategory }}</a> / <a
                    href="">{{ theProduct.name }}</a> / <a href="">Personnalisation</a>
        </div>
        <div class="">
            <div class="col row">
                <div class="col-md-6">
                    <div>
                        <div class="zone-marquage"
                             style="height:{{ zoneDeMarquage.height }}px;width:{{ zoneDeMarquage.width }}px;top: {{ zoneDeMarquage.topSpace }}px;left:{{ zoneDeMarquage.leftSpace }}px "
                             ;>
                            <div id="logoPersonnalisation"
                                 style="height:{{ zoneDeMarquage.height }}px;width:{{ zoneDeMarquage.width }}px;top: {{ zoneDeMarquage.topSpace }}px;left:{{ zoneDeMarquage.leftSpace }}px "
                                 ;>
                                <img id='output'>
                                <div id="test">
                                    <canvas id="pdfViewer"></canvas>
                                </div>
                            </div>
                        </div>
                        {% for key,image in theProduct.image | split("','") %}
                            {% if key == app.request.attributes.get('color') %}
                                <img id="imgOriginal" src="{{ image }}" width="100%">
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-md-6">
                    {{ dump(theProduct) }}
                    <form method="post" action="{{ path('cart_add_Personnalisation',{"id":theProduct.id,"color":app.request.attributes.get('color') }) }}">
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header btn btn-link backgroundOrange no-decoration text-white"
                                     data-toggle="collapse" data-target="#collapseOne"
                                     aria-expanded="true" aria-controls="collapseOne" id="headingOne">
                                    1 / VOTRE LOGO / VOTRE BAT
                                </div>

                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                     data-parent="">
                                    <div class="card-body">
                                        <input type='file' id='upload' multiple name="file"
                                               class="zone-background-grey col"/><br>
                                        <input type='hidden' id='dataFile' name="dataFile" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header btn btn-link backgroundOrange no-decoration text-white"
                                     data-toggle="collapse" data-target="#collapseTwo"
                                     aria-expanded="false" aria-controls="collapseTwo" id="headingTwo">
                                    2 / VOTRE TEXTE
                                </div>

                                <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                                     data-parent="">
                                    <div class="card-body">

                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header btn btn-link backgroundOrange no-decoration text-white"
                                     data-toggle="collapse" data-target="#collapseThird"
                                     aria-expanded="false" aria-controls="collapseThird" id="headingThird">
                                    3 / VOTRE TYPE D'IMPRESSION
                                </div>

                                <div id="collapseThird" class="collapse show" aria-labelledby="headingThird"
                                     data-parent="">
                                    <div class="card-body">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-md backgroundOrange text-white" type="submit">Valider et ajouter au
                                panier
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://mozilla.github.io/pdf.js/build/pdf.js"></script>
    <script src="{{ asset('js/page_personnalisation.js') }}" rel="stylesheet"></script>
{% endblock %}
