{% extends 'base.html.twig' %}


{% block content %}
    <div class="container">
        <div>
            <a href="{{ path('homeClient') }}">Accueil</a> / <a
                    href="{{ path('categoryClient',{'category':theCategory.name}) }}">{{ theCategory.name }}</a> / <a
                    href="{{ path('productClient',{'category':theCategory.name,'product':theProduct.name,'id':theProduct.id, 'color':colorNow}) }}">{{ theProduct.name }}</a>
        </div>
        <div class="">
            <div class="col row">
                <div class="col-md-12 col-lg-6">
                    <div>
                        <img id='output'>
                        {% for key,image in theProduct.image | split("','") %}
                            {% if key == colorNow %}
                                <img src="{{ image }}" width="100%">
                            {% endif %}
                        {% endfor %}
                        <div>
                            <div class="py-3 px-3 zone-background-grey">{{ theProduct.description }}</div>
                            <div class="mt-3">
                                <h4>description</h4>
                                <p><img src="https://www.xoopar.fr/img/cms/eco_product.png" alt="eco product"
                                        width="100" height="100"/><img
                                            src="https://www.xoopar.fr/img/cms/biodegradable.png" alt="biodegradable"
                                            width="100" height="100"/><img src="https://www.xoopar.fr/img/cms/wheat.png"
                                                                           alt="wheat" width="100" height="100"/><img
                                            src="https://www.xoopar.fr/img/cms/rpet.png" alt="rpet" width="100"
                                            height="100"/><img src="https://www.xoopar.fr/img/cms/fsc.png" alt="fsc"
                                                               width="100" height="100"/><img
                                            src="https://www.xoopar.fr/img/cms/4hrs&3watts.png" alt="4 hrs & 3watts"
                                            width="100" height="100"/><img src="https://www.xoopar.fr/img/cms/360.png"
                                                                           alt="360 °" width="100" height="100"/><img
                                            src="https://www.xoopar.fr/img/cms/lightning.png" alt="lightning"
                                            width="100" height="100"/><img
                                            src="https://www.xoopar.fr/img/cms/selfie.png" alt="selfie" width="100"
                                            height="100"/><img src="https://www.xoopar.fr/img/cms/stereo_pairing.png"
                                                               alt="stereo pairing" width="100" height="100"/><img
                                            src="https://www.xoopar.fr/img/cms/strap.png" alt="strap" width="100"
                                            height="100"/><img src="https://www.xoopar.fr/img/cms/wireless.png"
                                                               alt="wireless" width="100" height="100"/></p>
                                <p>L’enceinte Bluetooth iconique Xoopar désormais éconique en version BIO ! <br/><br/>•
                                    L'innovation écoresponsable pour vous<br/><br/>En 2020, Xoopar souhaite incarner la
                                    philosophie Green et High-tech en créant des accessoires mobiles respectueux de
                                    l’environnement. Nous avons donc retravaillé le Mini Xboy si cher à vos cœurs pour
                                    vous proposer une version éco. <br/><br/>• Tête faite à partir de bouteille en
                                    plastique recyclée. Corps biodégradable avec 20% de fibres de blé inclus.<br/><br/>Concrètement,
                                    nous avons revu la tête pour qu’elle soit faite à partir de bouteilles en plastique
                                    recyclées mais également le corps dans lequel nous avons remplacé 20% du plastique
                                    par de la fibre de blé non-alimentaire et ajouté l’additif BioSphère qui le rend
                                    biodégradable. Votre Mini Xboy pourra disparaître en 3 à 5 ans une fois enfoui dans
                                    la terre (vs. 450 ans pour un plastique classique). Veillez donc bien à le déposer
                                    dans une poubelle jaune le jour où celui-ci ne fonctionnera plus.<br/><br/>Le
                                    plastique du packaging a également été réduit au minimum, et le carton utilisé est
                                    recyclé et recyclable. <br/><br/>• Compatible avec les appareils Bluetooth
                                    (smartphone...)<br/>Activez le Bluetooth de votre smartphone (comme de votre
                                    ordinateur) puis appairez votre XBOY. Voila c'est fait. <br/><br/>• Profitez d'une
                                    grande qualité de son grâce à son haut-parleur mono 3W. <br/>Mettez le son à fond
                                    dans votre chambre !<br/><br/>• Faites les marcher par 2 et obtenez un son stéréo à
                                    360° !<br/><br/>• Autonomie de 4h<br/>4h de musique en continue, partout ou vous
                                    allez, que ce soit de votre chambre au salon, ou de votre canapé à la salle
                                    d'embarquant. <br/><br/>• Télécommande selfie intégré.<br/>Comme tous les mini XBOY,
                                    capturez vos meilleurs moments grâce à sa télécommande selfie intégré. <br/><br/>•
                                    Visage lumineux multi-LED et dragonne intégrée <br/>Il est équipé d’un visage
                                    lumineux multi-LED et la dragonne intégrée dans sa main permet de l'accrocher
                                    partout.<br/><br/></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="mt-3">
                        <div>
                            <h1>{{ theProduct.name }}</h1>
                        </div>
                        <div class="d-flex justify-content-between my-3">
                            <p>Réference : {{ theProduct.Sku }}</p>
                            <div class="row">
                                {% for key,color in theProduct.color | split("','") %}
                                    <a class="hoverColorAndImg"
                                       href="{{ path('productClient', {'category': theCategory.name, 'product':theProduct.name,'id':theProduct.id, 'color':key}) }}">
                                        <div class="color-rond mr-2" style="background-color: {{ color }};"></div>
                                    </a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div id="accordion">
                        <div class="card mb-3">
                            <div class="card-header backgroundOrange btn btn-link collapsed text-white no-decoration"
                                 data-toggle="collapse"
                                 data-target="#collapseTwo" aria-expanded="false"
                                 aria-controls="collapseTwo" id="headingTwo">
                                DEMANDE D'ÉCHANTILLONS
                            </div>
                            <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo"
                                 data-parent="#accordion">
                                <div class="card-body">
                                    <p>Pour tester le produit, vous pouvez commander un ou des échantillons de la
                                        couleur de votre choix.</p>
                                    <p>Choisir la couleur pour l'échantillon</p>
                                    <form method="post" action="{{ path('cart_add',{"id":theProduct.id,"color":app.request.attributes.get('color') }) }}">
                                        <div class="justify-content-center">
                                            <div class="d-flex flex-wrap">
                                                <p>Qté</p>
                                                {% for keycolor,color in theProduct.color | split("','") %}
                                                    <div class="mx-2">
                                                        <input class="" name="{{ color }} " size="4"
                                                               style="background-color: {{ color }}; border: 1px solid {{ color }}"/>
                                                        {% for keyquantity,quantity in theProduct.quantity | split("','") %}
                                                            {% if keycolor ==  keyquantity %}
                                                                <div class="my-0 text-center">En stock</div>
                                                                <div class="text-center">{{ quantity | replace({'"': ''}) }}</div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <button class="btn btn-md backgroundOrange text-white" type="submit">Ajouter au
                                            panier
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header btn btn-link backgroundOrange text-white no-decoration"
                                 data-toggle="collapse" data-target="#collapseOne"
                                 aria-expanded="true" aria-controls="collapseOne" id="headingOne">
                                COMMANDE & DEVIS
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                 data-parent="">
                                <div class="card-body">
                                    <form method="post"
                                          action="{{ path('personnalisationCheckInfo',{"category":theCategory.name, "product":theProduct.name, "id":app.request.attributes.get('id'), "color":app.request.attributes.get('color')}) }}">
                                        <p>Choisissez vos quantités par couleur</p>
                                        {% for flashError in app.flashes('errorQuantity') %}
                                            <div class="alert alert-danger" role="alert">{{ flashError }}</div>
                                        {% endfor %}
                                        <div class="justify-content-center">
                                            <div class="d-flex flex-wrap">
                                                <p>Qté</p>
                                                {% for keycolor,color in theProduct.color | split("','") %}
                                                    <div class="mx-2">
                                                        <input class="quantity-product" name="{{ color }} " size="4"
                                                               style="background-color: {{ color }}; border: 1px solid {{ color }}"/>
                                                        {% for keyquantity,quantity in theProduct.quantity | split("','") %}
                                                            {% if keycolor ==  keyquantity %}
                                                                <div class="my-0 text-center">En stock</div>
                                                                <div class="text-center">{{ quantity | replace({'"': ''}) }}</div>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="text-center py-3">
                                            <button class="displayBtn btn btn-md backgroundOrange text-white"
                                                    type="submit" disabled>Personnalisation
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="zone-background-grey mt-5 px-3 py-3">
                        <h4>informations</h4>
                        <div><span class="font-weight-bold">Puissance</span> : 3 Watts</div>
                        <div><span class="font-weight-bold">Taille du produit</span> : 73x67x56 mm</div>
                        <div><span class="font-weight-bold">Poids du produit</span> : 80g</div>
                        <div><span class="font-weight-bold">Zone de marquage</span> : 18x18 mm</div>
                        <div><span class="font-weight-bold">Colisage</span> : 50 pcs/ctn 560x385x335 mm 13.50 kg</div>
                        <div class="font-weight-bold">Câble de recharge inclus</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/page_product.js') }}" rel="stylesheet"></script>
{% endblock %}
