{% extends 'base.html.twig' %}

{% block content %}

    <div class="container">
        <div>Votre panier</div>

        {% if items | length > 0 %}
            {% for item in items %}
                {% for itemInformation in item.ColorQuantite %}
                    <div class="row">
                        <img src="{{ item.product.image }}">
                        <div>
                            <div>{{ item.product.name }}</div>
                            <div class="d-flex">
                                <div>Ref : {{ item.product.sku }} - couleur :&nbsp</div>
                                <div class="multiColor" style="color:#{{ itemInformation.color }}"
                                     data-color="#{{ itemInformation.color }}">{{ itemInformation.color }}</div>
                            </div>
                            <div class="d-flex">
                                <div>{{ item.product.name }} &nbsp</div>
                                <div class="multiColor" style="color:#{{ itemInformation.color }}"
                                     data-color="#{{ itemInformation.color }}"> {{ itemInformation.color }}</div>
                            </div>
                        </div>
                        <div><input value="{{ itemInformation.quantite }}"/></div>
                        <div>{{ item.product.price * itemInformation.quantite }}€</div>
                        <div>
                            <a href='{{ path('cart_delete',{'id': item.product.id, 'color': itemInformation.color}) }}'
                               class="btn btn-md btn-noir text-white">Supprimer</a>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="https://chir.ag/projects/ntc/ntc.js"></script>
    <script type="text/javascript" src="{{ asset('js/panier.js') }}"></script>
{% endblock %}
