{% extends 'base.html.twig' %}

{% block content %}

    <div class="container">
        <div>Votre panier</div>

        {% if items | length > 0 %}
        {% for item in items  %}
            {% for itemInformation in item.ColorQuantite  %}
                <div class="">
                    <img src="{{ item.product.image }}">
                    <div>{{ item.product.name }}</div>
                    <div class="multiColor" style="color: {{ itemInformation.color }}" data-color="{{ itemInformation.color }}">{{ itemInformation.color }}</div>
                    <div>{{ itemInformation.quantite }}</div>
                    <div>{{ item.product.price * itemInformation.quantite }}</div>
                </div>
            {% endfor  %}
        {% endfor  %}
        {% endif %}
    </div>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="https://chir.ag/projects/ntc/ntc.js"></script>
    <script type="text/javascript" src="{{ asset('js/panier.js') }}"></script>
{% endblock %}
