{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Chelmy/Desktop/symfony/project/src/Controller/CartController.php'|file_link(0) }}">src/Controller/CartController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Chelmy/Desktop/symfony/project/templates/cart/index.html.twig'|file_link(0) }}">templates/cart/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
<!--<div class="container">
        <div>Votre panier</div>

        {% if items | length > 0 %}
            {% for item in items %}
                {% for itemInformation in item.ColorQuantite %}
                    <div class="row">
                        <img src="{{ item.product.image }}">
                        <div>
                            <div>{{ item.product.name }}</div>
                            <div class="d-flex">
                                <div>Ref : {{ item.product.sku }} - couleur :&nbsp</div>
                                <div class="multiColor" style="color:#{{ itemInformation.color }}"
                                     data-color="#{{ itemInformation.color }}">{{ itemInformation.color }}</div>
                            </div>
                            <div class="d-flex">
                                <div>{{ item.product.name }} &nbsp</div>
                                <div class="multiColor" style="color:#{{ itemInformation.color }}"
                                     data-color="#{{ itemInformation.color }}"> {{ itemInformation.color }}</div>
                            </div>
                        </div>
                        <div><input value="{{ itemInformation.quantite }}"/></div>
                        <div>{{ item.product.price }}€</div>
                        <div>{{ item.product.price * itemInformation.quantite }}€</div>
                        <div>
                            <a href='{{ path('cart_delete',{'id': item.product.id, 'color': itemInformation.color}) }}'
                               class="btn btn-md btn-noir text-white">Supprimer</a>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </div>-->
