{% extends 'base.html.twig' %}

{% block content %}
    <div class="container">
        <div>
            <a href="{{ path('homeClient') }}">Accueil</a> / <a href="{{ path('categoryClient',{'category':theCategory}) }}">{{ theCategory }}</a>
        </div>
        <div class="">
            <div class="col row">
                <div class="col-md-12">
                    {% for test_api in list_test_api %}
                        <div>
                            {{ test_api.name }}
                        </div>
                        <div>
                            <img src="{{ test_api.background_image }}">
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <a href="{{ path('productClient', {'category': theCategory, product:'product'}) }}">le produit</a>
    </div>
{% endblock %}
